<div class="container">
  <div class="navbar">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
        <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        {{#if isAuthenticated}}
          <li>{{currentUser.name}}</li>
        {{else}}
          <li>{{#linkTo 'users.new'}}Register{{/linkTo}}</li>
          <li>{{#linkTo 'sessions.new'}}Login{{/linkTo}}</li>
        {{/if}}
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
